[submodule "components/modular-scale"]
	path = components/modular-scale
	url = https://github.com/modularscale/modularscale-sass.git
[submodule "components/normalize"]
	path = components/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "components/bourbon"]
	path = components/bourbon
	url = https://github.com/Sujevo/lib-bourbon
	branch = v4_1
