---
layout: default
---

{% assign sections = site.sections | sort: 'section' %}
{% for section in sections %}
    <h2>{{ section.title }}</h2>
    {{ section.output }}
{% endfor %}

<ol>
  {% capture references %}
    {% for reference in site.data.bibliography %}
      {% include r.html r=forloop.index %}
      {% if forloop.last != true %}|{% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign sortedreferences = references | split: '|' | sort %}
  {% for reference in sortedreferences %}
    <li>{{ reference }}</li>
  {% endfor %}
</ol>
