{% capture c %}
  {% assign citation = site.data.bibliography[include.r] %}

  {% capture author %}
    {% if citation.author %}
      {% if citation.author.size == 1 %}
        {{ citation.author[0] | split: ' ' | last | remove: '.' }}
      {% elsif citation.author.size == 2 %}
        {{ citation.author[0] | split: ' ' | last | remove: '.' }}
        &nbsp;and&nbsp;
        {{ citation.author[1] | split: ' ' | last | remove: '.' }}
      {% elsif citation.author.size > 2 %}
        {{ citation.author[0] | split: ' ' | last | remove: '.' }}
        &nbsp;et&nbsp;al.
      {% endif %}
    {% elsif citation.org %}
      {{ citation.org }}
    {% endif %}
  {% endcapture %}
  {% capture year %}
    {% if citation.year %}
      {{ citation.year }}
    {% elsif citation.type == 'web' and citation.accessed %}
      {{ citation.accessed }}
    {% endif %}
  {% endcapture %}

  <cite>
    (
      {% if include.a != false and author %}
        {{ author }}
      {% endif %}
      {% if include.a != false and include.y != false %}&nbsp;{% endif %}
      {% if include.y != false and year %}
        {{ year }}
      {% endif %}
    )
  </cite>
{% endcapture %}{{ c | strip_newlines | remove: ' ' }}
