{% assign persona = site.data.personas[include.p] %}

<div class="o-media c-persona">
  <div class="o-media__aside">
    <img src="{{ persona.thumb | prepend: site.baseurl }}" alt="{{ persona.name }}" class="c-persona__thumb" />
  </div>
  <div class="o-media__body">
    <h5>{{ persona.name }}</h5>
    <ul class="o-inline-list o-inline-list--tight">
      {% for c in persona.characteristics %}
        <li class="c-persona__characteristic">{{ c }}</li>
      {% endfor %}
    </ul>
    <p class="c-persona__biography">{{ persona.biography }}</p>
  </div>
</div>