* {
	margin: 0;
	padding: 0;
}

	* + * {
		margin-top: 1.55556rem;
	}

html {
	font: -apple-system-body;
}

body {
	color: rgb(35, 35, 35);
	font-family: "Georgia";
	font-size: 1em;
	line-height: 1.55556;
	padding: 26px 26px 52px;
	margin: 0;
}

header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);
	padding-bottom: 0.65em;
}

h1, h2, h3 {
	color: rgb(0, 0, 0);
	font-weight: 600;
	line-height: 1.25;
}

h1 {
	font-size: 1.618rem;
}

h2 {
	font-size: 1.236rem;
}

h3 {
	font-size: 0.801rem;
}

ol, ul, dl {
	padding-left: 1.5556rem;
}

/**
 * Animations
 */

@-webkit-keyframes push {
	0% {
		opacity: 0;
		-webkit-transform: translateY(200px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

header, article > * {
	-webkit-animation: "push" 0.85s ease 0 backwards;
}

.animate-in header {
	-webkit-animation-delay: 50ms;
}

.animate-in article > * {
	-webkit-animation-delay: 675ms;
}

.animate-in article > :nth-child(1) {
	-webkit-animation-delay: 175ms;
}

.animate-in article > :nth-child(2) {
	-webkit-animation-delay: 300ms;
}

.animate-in article > :nth-child(3) {
	-webkit-animation-delay: 425ms;
}

.animate-in article > :nth-child(4) {
	-webkit-animation-delay: 550ms;
}