* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* + * {
	margin-top: 1.55556em;
}

html {
	font: -apple-system-body;
}

body {
	color: #000;
	font-family: "Georgia";
	font-size: 1em;
	line-height: 1.55556;
	padding: 24px 24px 48px;
	margin: 0;
}
