* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* + * {
    margin-top: 1.5em;
}

html {
    font: -apple-system-body;
}

body {
    font-family: "Georgia";
    line-height: 1.5;
    padding: 1em;
    margin: 0;
}
