// Layout
// ======

@include b(#{$o-}wrapper) {
  margin-left: auto;
  margin-right: auto;
  max-width: 42em;
  padding-left: size(spacing);
  padding-right: size(spacing);

  @include m(narrow) {
    max-width: 800px;
  }

  @include e(wide) {
    margin-left: -10%;
    margin-right: -10%;
  }
  
  @include e(wider) {
    margin-left: -20%;
    margin-right: -20%;
  }

  @include query(print) {
    max-width: auto;
  }
}


$layout-gutter: size(spacing) !default;

@include b(#{$o-}layout) {
  @extend %flush;

  left: -$layout-gutter;
  list-style: none;
  position: relative;

  @include e(item) {
    display: inline-block;
    padding-left: $layout-gutter;
    vertical-align: top;
    width: 100%;

    > figure {
      margin-left: auto;
      margin-right: auto;
    }
  }
}