// Lists
// =====

// Block list
// ----------

%#{$o-}block-list__item {
  + %#{$o-}block-list__item {
    border-top: 1px dashed $light;
    padding-top: size(spacing);
  }
}

@include b(#{$o-}block-list) {
  @extend .#{$u-}invisible-list;

  > li { @extend %#{$o-}block-list__item; }
  @include e(item) { @extend %#{$o-}block-list__item; }
}

// Inline list
// -----------

%#{$o-}inline-list__item {
  display: inline-block;
}

@include b(#{$o-}inline-list) {
  @extend .#{$u-}invisible-list;
  @extend %horizontal;

  > li { @extend %#{$o-}inline-list__item; }
  @include e(item) { @extend %#{$o-}inline-list__item; }

  @include m(tight) {
    @extend %horizontal-tight;
  }
}

// Numbered list
// -------------

%#{$o-}numbered-list__item {
  counter-increment: ol;
  position: relative;

  &::before {
    @extend %h5;

    border-right: 1.5px solid $dark;
    content: counter(ol, decimal-leading-zero);
    margin-right: 1em;
    padding-right: 1em;
    position: absolute;
    right: 100%;
    top: 0;
  }
}

@include b(#{$o-}numbered-list) {
  counter-reset: ol;
  list-style-type: none;

  @include e(item) { @extend %#{$o-}numbered-list__item; }
  > li { @extend %#{$o-}numbered-list__item; } 
}