// Essay
// =====

@include b(#{$c-}essay) {
  @extend %flush;

  section {
    @extend .#{$u-}clearfix;

    > header {
      page-break-after: avoid;
    }

    a {
      @include query(print) {
        border-bottom: none;

        &::after {
          font-style: normal;
          font-size: size(small);
          font-weight: 400;
          word-wrap: break-all;
        }
        
        &[href^="http"]::after {
          content: " (" attr(href) ")";
        }
      }
    }

    > ul, > ol {
      ol {
        @extend %flush;

        list-style-type: lower-alpha;
      }
    }

    > ol {
      @extend .#{$o-}numbered-list;
    }
    
    ul:not([class]) {
      @extend %tight;
    }
  }

  @include e(header) {
  }

  @include e(footer) {
    padding-bottom: size(xxlarge);
    padding-top: size(xxlarge);

    @include query(print) {
      page-break-before: always;
    }
  }
  
  @include e(section) {
    padding-bottom: size(xxlarge);
    padding-top: size(xxlarge);

    > header {
      @include trailing(size(xxlarge));
    }

    @include query(screen) {
      border-bottom: 2px solid hsb(0, 0, 92.5);
    }

    @include query(print) {
      page-break-before: always;
      padding-top: size(xxlarge)*2;
    }
  }

  @include e(subsection) {
    @include leading(size(xlarge));

    > header {
      @include trailing(size(large));
    }
  }

  @include e(subsubsection) {
    > header {
      @include trailing(size(base));
    }
  }

  @include query(screen) {
    padding-bottom: size(xxlarge);
    padding-top: size(xxlarge);
  }
}