// Figures
// =======

@include b(#{$c-}figure) {
  > img {
    margin-left: auto;
    margin-right: auto;
  }

  @include e(caption) {
    text-align: center;
  }

  @include m(iPhone) {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
  }

  .counter {
    &::before {
      content: 'Figure ';
    }

    &::after {
      content: ': ';
    }
  }
}

// References
// ----------

@include b(#{$c-}figure-reference) {
  border-bottom-style: dashed;
}