// Figures
// =======

@include b(#{$c-}figure) {
  @include e(caption) {
  }

  @include m(iPhone) {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;

    @include e(caption) {
      text-align: center;
    }
  }

  .counter {
    &::before {
      content: 'Figure ';
    }

    &::after {
      content: ': ';
    }
  }
}

// References
// ----------

@include b(#{$c-}figure-reference) {
  border-bottom-style: dashed;
}