// Figures
// =======

@include b(#{$c-}figure) {
  img {
    margin-left: auto;
    margin-right: auto;
  }

  @include e(caption) {
    text-align: center;
  }

  @include m(iPhone) {
    img {
      width: 320px;
    }
  }

  @include m(iPhone-short) {
    img {
      width: auto;
      height: 250px;
    }
  }

  .counter {
    &::before {
      content: 'Figure ';
    }

    &::after {
      content: ': ';
    }
  }

  @include m(left) {
    clear: left;
    float: left;
    margin: size(spacing) size(spacing) size(spacing) -20%;
  }

  @include m(right) {
    clear: right;
    float: right;
    margin: size(spacing) -20% size(spacing) size(spacing);
  }
}