---
layout: default
---

<article class="c-essay">
  <!--<header>
    <h1>Honors Thesis</h1>
  </header>-->

  <div class="o-wrapper">
      {% capture essay %}
      {% assign content = content | replace: '<h2>', '-SECTION-<header><h2><span class="counter">%SECTION%</span>' | replace: '</h2>', '</h2></header>' | replace: '<h3>', '-SUBSECTION-<header><h3><span class="counter">%SECTION%.%SUBSECTION%</span>' | replace: '</h3>', '</h3></header>' | replace: '<h4>', '-SUBSUBSECTION-<header><h4><span class="counter">%SECTION%.%SUBSECTION%.%SUBSUBSECTION%</span>' | replace: '</h4>', '</h4></header>' | replace: '<figure', '-FIGURE-<figure' %}
      {% assign content = content | replace: '	', '    ' %}
      {% assign figures = '' %}
      {% assign sections = content | remove_first: '-SECTION-' | split: '-SECTION-' %}
      {% for section in sections %}
        {% assign s = forloop.index %}
        <section class="c-essay__section" data-section="{{ s }}">
          {% assign figs = section | replace: '%SECTION%', s | split: '-FIGURE-' %}
          {% capture replaceFigures %}
            {{ figs | first }}
            {% for figure in figs %}
              {% if forloop.first != true %}
                {% assign f = forloop.index | minus: 1 %}
                {% assign fig = figure | replace: '%FIGURE%', f %}
                {% assign counterSplit = fig | split: '-FIGCOUNTER-' %}
                {% assign figures = figures | append: counterSplit[1] | append: '|' %} 
                {{ counterSplit[0] }}{{ counterSplit[2] }}
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {% assign subsections = replaceFigures | split: '-SUBSECTION-' %}
          {{ subsections | first }}
          {% for subsection in subsections %}
            {% if forloop.index > 1 %}
              {% assign ss = forloop.index | minus: 1 %}
              <section class="c-essay__subsection"  data-subsection="{{ ss }}">
              {% assign subsubsections = subsection | replace: '%SUBSECTION%', ss | split: '-SUBSUBSECTION-' %}
              {{ subsubsections | first }}
              {% for subsubsection in subsubsections %}
                {% if forloop.index > 1 %}
                  {% assign sss = forloop.index | minus: 1 %}
                  <section class="c-essay__subsubsection" data-subsubsection="{{ sss }}">
                    {{ subsubsection | replace: '%SUBSUBSECTION%', sss }}
                  </section>
                {% endif %}
              {% endfor %}
              </section>
            {% endif %}
          {% endfor %}
        </section>
      {% endfor %}
    {% endcapture %}

    {% for figure in site.data.figures %}
      {% capture f %}{{ forloop.index | minus: 1 }}{% endcapture %}
      {% capture ref %}%FIGUREREF-{{ f }}%{% endcapture %}
      {% assign figs = figures | split: '|' %}
      {% for fig in figs %}
        {% assign dict = fig | split: ':' %}
        {% if dict[0] == f %}
          {% assign essay = essay | replace: ref, dict[1] %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {{ essay }}
  </div>

  <footer class="c-essay__footer o-wrapper">
    <ol>
      {% capture references %}{% for reference in site.data.bibliography %}{% assign id = forloop.index | minus: 1 %}{% include r.html r=id %}{{ id }}{% if forloop.last != true %}|{% endif %}{% endfor %}{% endcapture %}
      {% assign sortedreferences = references | upcase | split: '|' | sort %}
      {% for ref in sortedreferences %}
        {% assign id = ref | split: '' | last | times: 1 %}
        <li id="reference-{{ id }}">{% include r.html r=id %}</li>
      {% endfor %}
    </ol>
  </footer>
</article>