---
layout: default
---

{% assign figures = '' %}
{% assign toc = '' %}

{% comment %} Pre-processing {% endcomment %}
{% capture essay %}
  {% assign sections = content | split: '<h2>' %}
  {{ sections | first }}
  {% assign length = sections | size | minus: 1 %}
  {% for s in (1..length) %}
    {% assign title = sections[s] | split: '</h2>' | first %}
    {% assign section = sections[s] | split: '</h2>' | last | replace: '%SECTION%', s %}
    {% assign toc = toc | append: '|' | append: title | append: ':' %}
    <section class="c-essay__section" data-section="{{ s }}">
      <header>
        <h2 id="{{ s }}">
          <span class="counter">{{ s }}</span>
          {{ title }}
        </h2>
      </header>
      {% if section contains '<figure' %}
        {% assign figs = section | replace: '<figure', '-FIGURE-<figure' | remove_first: '-FIGURE-' | split: '-FIGURE-' %}
        {% capture section %}
          {% for figure in figs %}
            {% assign f = forloop.index %}
            {% assign fig = figure | replace: '%FIGURE%', f %}
            {% assign counterSplit = fig | split: '-FIGCOUNTER-' %}
            {% assign figures = figures | append: counterSplit[1] | append: '|' %} 
            {{ counterSplit[0] }}{{ counterSplit[2] }}
          {% endfor %}
        {% endcapture %}
      {% endif %}
      {% assign subsections = section | split: '<h3>' %}
      {{ subsections | first }}
      {% assign length = subsections | size | minus: 1 %}
      {% for ss in (1..length) %}
        {% assign subtitle = subsections[ss] | split: '</h3>' | first %}
        {% assign toc = toc | append: '--' | append: subtitle %}
        {% assign subsection = subsections[ss] | split: '</h3>' | last | replace: '%SUBSECTION%', ss %}
        <section class="c-essay__subsection" data-subsection="{{ ss }}">
          <header>
            <h3 id="{{ s }}.{{ ss }}">
              <span class="counter">{{ s }}.{{ ss }}</span>
              {{ subtitle }}
            </h3>
          </header>
          {% assign subsubsections = subsection | split: '<h4>' %}
          {{ subsubsections | first }}
          {% assign length = subsubsections | size | minus: 1 %}
          {% for sss in (1..length) %}
            {% assign subsubtitle = subsubsections[sss] | split: '</h4>' | first %}
            {% assign subsubsection = subsubsections[sss] | split: '</h4>' | last | replace: '%SUBSUBSECTION%', sss %}
            <section class="c-essay__subsubsection" data-subsubsection="{{ sss }}">
              <header>
                <h4 id="{{ s }}.{{ ss }}.{{ sss }}">
                  <span class="counter">{{ s }}.{{ ss }}.{{ sss }}</span>
                  {{ subsubtitle }}
                </h4>
              </header>
              {{ subsubsection | replace: '%SUBSUBSECTION%', sss }}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </section>
  {% endfor %}
{% endcapture %}

{% comment %} Tabs to spaces {% endcomment %}
{% assign essay = essay | replace: '	', '    ' %}

{% comment %} Figures {% endcomment %}
{% assign length = site.data.figures | size | minus: 1 %}
{% for f in (0..length) %}
  {% capture ref %}%FIGUREREF-{{ f }}%{% endcapture %}
  {% assign figs = figures | split: '|' %}
  {% for fig in figs %}
    {% assign id = fig | split: ':' | first | times: 1 %}
    {% assign figure = fig | split: ':' | last %}
    {% if id == f %}
      {% assign essay = essay | replace: ref, figure %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% comment %} References {% endcomment %}
{% capture references %}{% for reference in site.data.bibliography %}{% assign id = forloop.index | minus: 1 %}{% include r.html r=id %}:{{ id }}|{% endfor %}{% endcapture %}

<article class="c-essay">
  <!--<header class="c-essay__header">
    <h1>Honors Thesis</h1>
    <figure class="c-figure c-figure--feature">
      {% include v.html src='/public/demo' autoload="autoload" %}
    </figure>
  </header>-->

  <div class="o-wrapper">
    <section class="c-essay__section">
      <header>
        <h2 id="abstract">Abstract</h2>
      </header>
      <p>{{ page.abstract }}</p>
    </section>
    <section class="c-essay__section">
      <!--<header>
        <h2 id="abstract">Contents</h2>
      </header>-->
      {% include toc.html t=toc %}
    </section>
    {{ essay }}
  </div>

  <footer class="c-essay__footer o-wrapper">
    <ol>
      {% assign sortedReferences = references | upcase | split: '|' | sort %}
      {% for ref in sortedReferences %}
        {% assign id = ref | split: ':' | last | times: 1 %}
        <li id="reference-{{ id }}">{% include r.html r=id %}</li>
      {% endfor %}
    </ol>
  </footer>
</article>