// Spacing
// =======

@mixin leading($space) {
  * + & {
    margin-top: $space;

    %horizontal > & {
      margin-top: inherit;
      margin-left: $space;
    }

    %flush > & {
      margin-top: 0;
    }

    %tight > & {
      margin-top: $space / 2;
    }
  }
}

@mixin trailing($space) {
  & + * {
    margin-top: $space;

    %horizontal > & {
      margin-top: inherit;
      margin-left: $space;
    }

    %flush > & {
      margin-top: 0;
    }

    %tight > & {
      margin-top: $space / 2;
    }
  }
}