<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>What is anxiety?</string>
		<key>Description</key>
		<string>That&apos;s a pretty good question.</string>
		<key>File</key>
		<string>gad</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Relaxation guidelines</string>
		<key>File</key>
		<string>guidelines</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Anxious episodes</string>
		<key>File</key>
		<string>gad</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Self-talk cycles</string>
		<key>File</key>
		<string>gad</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>FAQs</string>
		<key>File</key>
		<string>gad</string>
	</dict>
</array>
</plist>
