<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>What is anxiety?</string>
		<key>Description</key>
		<string>Causes, symptoms, diagnosis, treatments, etc.</string>
		<key>File</key>
		<string>gad</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Relaxation guidelines</string>
		<key>File</key>
		<string>guidelines</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Anxious episodes</string>
		<key>File</key>
		<string>gad</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Self-talk</string>
		<key>File</key>
		<string>self-talk</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mistaken beliefs</string>
		<key>File</key>
		<string>mistaken-beliefs</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Dealing with feelings</string>
		<key>File</key>
		<string>dealing-with-feelings</string>
	</dict>
</array>
</plist>
