<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>This feeling isn&apos;t comfortable or pleasant, but I can accept it.</string>
	<string>I can be anxious and still deal with this situation.</string>
	<string>This isn&apos;t an emergency.  It&apos;s OK to think slowly about what I need to do.</string>
	<string>I exist underneath these thoughts and feelings.</string>
	<string>Fighting and resisting this isn&apos;t going to help - so I&apos;ll just let it pass.</string>
	<string>I can take all the time I need in order to let go and relax.</string>
	<string>This is an opportunity for me to learn to cope with my fears.</string>
	<string>This is not going to harm me, even if it doesn&apos;t feel pleasant.</string>
	<string>So what.</string>
	<string>These feelings and thoughts are already passing as I&apos;m reading this.</string>
</array>
</plist>
