// Article
// =======

article {

  section {
    @extend %#{$u-}clearfix;
  }

  > footer {
    @include query(print) {
      page-break-before: always;
    }
  }
  
  @include query(screen) {
    padding-bottom: size(xxlarge) * 2;
    padding-top: size(xxlarge) * 2;
  }
}

[data-section] {
  border-bottom: 2px solid hsb(0, 0, 92.5);

  > header {
    @include trailing(size(xxlarge));
  }

  ol {
    @extend .#{$o-}numbered-list;
  }
  
  ul:not([class]) {
    @extend %tight;
  }

  @include query(screen) {
    @include trailing(size(xxlarge));
  
    padding-bottom: size(xxlarge);
  }

  @include query(print) {
    page-break-before: always;
    padding-top: size(xxlarge)*2;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

[data-subsection] {
  @include leading(size(xlarge));

  > header {
    @include trailing(size(large));
  }
}

[data-subsubsection] {
  > header {
    @include trailing(size(base));
  }
}