// Article
// =======

article {
  padding-bottom: size(xxlarge) * 2;
  padding-top: size(xxlarge) * 2;

  section {
    @extend %#{$u-}clearfix;
  }
}

[data-section] {
  @include trailing(size(xxlarge));

  border-bottom: 2px solid hsb(0, 0, 92.5);
  padding-bottom: size(xxlarge);

  > header {
    @include trailing(size(xxlarge));
  }

  ol {
    @extend .#{$o-}numbered-list;
  }
  
  ul:not([class]) {
    @extend %tight;
  }
}

[data-subsection] {
  @include leading(size(xlarge));

  > header {
    @include trailing(size(large));
  }
}

[data-subsubsection] {
  > header {
    @include trailing(size(base));
  }
}