// Figures
// =======

figure {
  @extend %tight;

  margin-left: size(spacing) * 2;
  margin-right: size(spacing) * 2;

  > a {
    @extend %#{$u-}invisible-link;

    display: block;
  }

  img {
    display: block;
  }
}

figcaption {
  font-size: size(small);

  .counter {
    font-style: italic;
    font-weight: 700;
  }
}