// Lists
// =====

%list, ol, ul {
  padding-left: size(spacing) * 2;
  margin-left: 0;
  
  > li {
    > figure {
      margin-left: auto;
      margin-right: auto;
    }
  }

  ol {
    list-style-type: lower-alpha;
  }

  ul {
    list-style-type: circle;
  }
}