// Lists
// =====

ol {
  counter-reset: ol;
  list-style-type: none;
  margin-left: size(spacing);

  > li {
    counter-increment: ol;
    position: relative;

    &::before {
      @extend %h5;

      border-right: 1.5px solid hsb(0, 0, 0);
      content: counter(ol, decimal-leading-zero);
      margin-right: size(spacing) / 2;
      padding-right: size(spacing) / 2;
      position: absolute;
      right: 100%;
      top: 0;
    }
  }
}