// Page
// ====

html {
  @extend %serif;

  color: $dark;
  font-size: $ms-base;
  font-weight: 400;
  line-height: strip-units(size(spacing));
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include query(print) {
    font-size: $ms-base * 0.9;
  }
}

@page {
  counter-reset: page 1;
  counter-increment: page;
  margin: 1in;

  @bottom-center {
    content: counter(page);
  }
}