// Print
// =====

//@include query(print) {
  
  // Counters
  // --------

  article {
    counter-reset: section;
  }

  section {
    counter-reset: subsection;
    counter-reset: figure;
  }

  h2 {
    counter-increment: section;

    &::before {
      content: counter(section)". ";
    }
  }

  h3 {
    counter-increment: subsection;
    counter-reset: subsubsection;
    
    &::before {
      content: counter(section)"."counter(subsection)" ";
    }
  }

  h4 {
    counter-increment: subsubsection;

    &::before {
      content: counter(section)"."counter(subsection)"."counter(subsubsection)" ";
    }
  }

  figure {
    counter-increment: figure;
  }

  figcaption::before {
    content: "Figure "counter(section)"."counter(figure)": ";
    font-weight: 700;
  }
//}