// Type
// ====

// Headings
// --------

%heading {
  @extend %sans;

  color: hsb(0, 0, 0);
  font-weight: 700;
  line-height: strip-units(size(medium));
  position: relative;

  .counter {
    color: $light;
  }
}

%h1, %h2, %h3, %h4, %h5 {
  @extend %heading;
}

%h1 {
}

%h2 {
  font-size: size(xlarge);
  text-align: center;

  .counter {
    border: 3px solid $light;
    border-radius: 100%;
    display: block;
    font-weight: 400;
    height: size(spacing);
    margin: 0 auto size(spacing)/6; 
    width: size(spacing);
  }
}

%h3, %h4 {
  .counter {
    display: block;
    font-size: size(small);
    line-height: 1.5;
    margin-right: 0.5em;
    position: absolute;
    right: 100%;
  }
}

%h3 {
  font-size: size(large);

  .counter {
    border-bottom: 2px solid currentColor;
  }
}

%h4 {
  font-size: size(medium);
}

%h5 {
  font-size: size(base);
}

%h6 {
  font-size: size(small);

  @include trailing(size(small));
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

// Misc
// ----

.lead {
  font-size: size(large);
  padding-left: size(large);
  padding-right: size(large);
  text-align: center;

  @include trailing(size(xlarge));
}

.columns {
  line-height: strip-units(size(large));

  @include column-count(2);
  @include column-gap(size(xlarge));
}

.small {
  font-size: size(small);
}

// Helpers
// -------

%sans { @include font-family(sans); }
%serif { @include font-family(serif); }